.header {
  width: var(--header-width);
  max-width: var(--header-max-width);

  position: fixed;
  top: 5%;
  row-gap: 5px;

  display: grid;
  grid-template-rows: auto auto;

  background-color: rgba(var(--color-bg-rgb), 0.75);

  border-radius: var(--base-radius);

  padding: var(--header-padding);

  box-shadow: var(--shadow);
  backdrop-filter: blur(var(--bg-blur));

  z-index: var(--base-z-index);
  transition: all 0.3s ease-in-out;
}

.backdrop {
  position: fixed;
  inset: 0;
  top: 0;
  left: 0;
  z-index: calc(var(--base-z-index) - 1);

  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  background-color: rgba(0, 0, 0, 0.1);

  pointer-events: auto;
}

.topRow {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;

  gap: var(--base-gap);
}
