.header {
  width: var(--header-width);
  max-width: var(--header-max-width);

  position: fixed;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);

  display: grid;
  grid-template-rows: auto auto;

  background: linear-gradient(
    135deg,
    rgba(var(--color-bg-rgb), 0.95) 10%,
    rgba(var(--color-bg-rgb), 0.75) 100%
  );

  border-radius: var(--base-radius);

  padding: var(--header-padding);

  box-shadow: var(--shadow);
  backdrop-filter: blur(var(--base-blur));

  z-index: var(--base-z-index);
  transition: all 0.3s ease-in-out;
}

.backdrop {
  position: fixed;
  inset: 0;
  top: 0;
  left: 0;
  z-index: calc(var(--base-z-index) - 1);

  backdrop-filter: blur(var(--base-blur));
  -webkit-backdrop-filter: blur(var(--base-blur));
  background-color: rgba(var(--color-black-rgb), 0.3);

  pointer-events: auto;
}

.topRow {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;

  gap: var(--base-gap);
}
