.container {
  max-height: 0;
  opacity: 0;
  transform: translateY(-20px);
  will-change: max-height, opacity, transform;
  transition-property: max-height, opacity, transform;
  pointer-events: none;
  transition:
    max-height 0.4s ease,
    opacity 0.3s ease,
    transform 0.3s ease;
}

.open {
  max-height: 1000px;
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  transition-duration: 0.45s, 0.5s, 0.55s;
  transition-delay: s, 0.1s, 0.1s;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

.closed {
  max-height: 0;
  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;

  transition-duration: 0.25s, 0.3s, 0.2s;
  transition-delay: 0s, 0s, 0s;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);

  overflow: hidden;
}

.section {
  border-bottom: 1px solid var(--color-gray);
  padding: 2rem 0 1rem 0.5rem;
}

.toggle {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 1rem;
  font-weight: 600;
}

/* 서브 메뉴 (드롭다운) */
.dropdown {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.75rem 0;
}

/* 메뉴 링크 */
.link {
  font-size: 0.95rem;
  font-weight: 400;
  color: var(--color-text);
  padding: 0.25rem 0;
  text-decoration: none;
}

.link:hover {
  color: var(--color-primary);
}

/* 아이콘 회전 Wrapper */
.iconWrapper {
  display: inline-block;
  transition: transform 0.3s ease;
}

/* 아이콘이 열린 상태일 때 */
.iconOpen {
  transform: rotate(180deg);
}
