:root {
  --base-z-index: 1000;
  --base-gap: 16px;
  --base-radius: 30px;
  --header-max-width: 900px;
  --header-padding: 5px 20px;
  --base-border: rgba(var(--color-black-rgb), 0.05);
  --base-shadow:
    0 1px 4px rgba(var(--color-black-rgb), 0.1), inset 0 1px 1px rgba(var(--color-bg-rgb), 0.5);
  --base-blur: 20px;
  --shadow: 0 4px 12px rgba(var(--color-black-rgb), 0.1);
  --transition-duration: 0.3s;
  --transition-ease: ease-in-out;
  --header-width: calc(100% - 32px);
  --font-pretendard: 'Pretendard', sans-serif;
  --header-offset: 64px;
  --modal-blur: 2px;
  --header-gradient: linear-gradient(
    to bottom,
    rgba(var(--color-bg-gray-rgb), 0.75),
    rgba(var(--color-bg-second-gray-rgb), 0.65),
    rgba(var(--color-bg-third-gray-rgb), 0.6)
  );
}

.responsive-main {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

@media (max-width: 700px) {
  .responsive-main {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.focusable:focus-visible {
  outline: 1px solid var(--color-primary);
  color: var(--color-text);
  outline-offset: 4px;
  border-radius: 6px;
}

.backdrop::before {
  content: '';
  position: absolute;
  inset: 0;
  backdrop-filter: blur(32px);
  background-color: rgba(0, 0, 0, 0.1);
}

.backdrop {
  position: fixed;
  inset: 0;
  z-index: calc(var(--base-z-index) - 1);

  backdrop-filter: blur(var(--modal-blur)) saturate(160%);
  -webkit-backdrop-filter: blur(var(--modal-blur)) saturate(160%);

  background-color: rgba(var(--color-black-rgb) 0.05);

  pointer-events: auto;
  transition:
    background-color 0.3s ease,
    backdrop-filter 0.3s ease;
}
