.container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
}

.navList,
.authList {
  display: flex;
  gap: var(--base-gap);
  list-style: none;
  padding: 0;
  margin: 0;
}

.space {
  width: 30px;
  height: 1px;
}

.link {
  text-decoration: none;
  padding: 8px 12px;
  color: var(--color-text);
  border-radius: 4px;
  transition:
    background 0.2s ease,
    outline 0.2s ease;
}

.link[aria-current='page'] {
  font-weight: bold;
  color: var(--color-primary);
  border-bottom: 2px solid var(--color-primary);
}

.link:hover {
  color: rgba(var(--color-primary-rgb), 0.8);
}

.submenu {
  width: 250px;

  display: none;

  position: absolute;
  top: 100%;
  left: 0;

  border-radius: 10px;

  background: var(--color-bg);
  box-shadow: var(--shadow);

  padding: 10px;

  z-index: calc(var(--base-z-index) + 5);
}

.navItem {
  position: relative;
}

.navItem:hover .submenu,
.navItem:focus-within .submenu {
  display: block;
}

.subLink {
  display: block;
  padding: 0.5rem 1rem;
  white-space: nowrap;
}

.subLink:hover {
  color: rgba(var(--color-primary-rgb), 0.8);
}

@media (max-width: 700px) {
  .container {
    display: none;
  }
}
