.bottom {
  border-top: 1px solid var(--color-gray);
  padding-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-size: 16px;

  gap: 1rem;
}

.copy {
  color: var(--color-text);
  white-space: nowrap;
  margin: 0;
}

.languageAndIcons {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.languageText {
  display: flex;
  align-items: center;
  gap: 5px;
}

.languageText span {
  font-size: 16px;
}

.languageText svg {
  color: var(--color-primary);
}

.icons {
  display: flex;
  gap: 1.2rem;
}

.icons a {
  display: flex;

  background: var(--color-secondary);
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease;
}

.icons a:hover {
  background: var(--color-accent);
}

.icons svg {
  fill: var(--color-text);
  transition: transform 0.3s ease;
}

.icons svg:hover {
  transform: scale(1.2);
}

@media (max-width: 700px) {
  .bottom {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 1rem;
  }
  .languageAndIcons {
    justify-content: flex-start;
  }
}
