.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  background: var(--color-bg);
  border: 1px solid var(--color-border);
  border-radius: 0.5rem;
  padding: 1rem 0.5rem;
  transition: border-color 0.2s ease;
}

.wrapper:hover {
  border-color: var(--color-primary);
}

.focused {
  border-color: var(--color-primary);
}

.input {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-gray);
  background-color: rgba(var(--color-gray-rgb), 0.4);
  border-radius: 0.5rem;
  outline: none;
}

.input:focus {
  border: 1px solid var(--color-primary);
  outline: none;
}

.input::-webkit-calendar-picker-indicator {
  opacity: 0;
  cursor: pointer;
  position: absolute;
  right: 1em;
}

.icon {
  position: absolute;
  right: 1em;
  pointer-events: none;
  color: var(--color-icon);
  font-size: 1.1rem;
}

.input::placeholder {
  color: var(--color-placeholder, #a0a0a0);
  font-size: 14px;
}
