:root {
  --base-z-index: 1000;
  --base-gap: 16px;
  --base-radius: 30px;
  --header-max-width: 900px;
  --header-padding: 5px 10px 5px 20px;
  --base-blur: 12px;
  --shadow: 0 4px 12px rgba(var(--color-black-rgb), 0.1);
  --transition-duration: 0.3s;
  --transition-ease: ease-in-out;
  --header-width: calc(100% - 32px);
  --font-pretendard: 'Pretendard', sans-serif;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/font/Pretendard-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html:not(.dark) body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

html.dark body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

html.theme-loaded body {
  visibility: visible;
}

body {
  font-family: var(--font-pretendard);
  color: var(--color-text);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  font-size: 16px;
  line-height: 1.6;
  visibility: hidden;
}
