.editorWrapper {
  width: 100%;
  max-width: calc(100vw - 10%);
  margin: 0 auto;
  padding: 1rem;
}

@media (max-width: 700px) {
  .editorWrapper {
    max-width: 800px;
    padding: 0.5rem;
  }

  .editorWrapper .w-md-editor {
    font-size: 14px !important;
  }

  .editorWrapper .w-md-editor-text-input,
  .editorWrapper .w-md-editor-content {
    min-height: 300px !important;
  }

  .editorWrapper .w-md-editor-toolbar {
    flex-wrap: wrap;
  }
}
